<main class="fitt_main bg_white_gray  d-flex align-items-center" >
    <div class="section lovogen_banner_bg fitt_main">
      <div class="container-fluid g-0 h-100">
        <div class="row g-0 align-items-strech fitt_height">
          <div class="col-sm-12  d-flex align-items-center fitt_height" >
            <div class="lovogen_banner" >
            
             <div class="row" >
              <div class="col-md-12 col-lg-5 self-align-end d-flex align-items-end text-center order-1 order-md-1" >
                <img src="assets/images/livogen-idd.png" alt="" class="dr_image mt-4" >
              </div>
              <div class="col-md-12 col-lg-7 align-self-center order-2 order-md-2 " >
                <div class="content text-center p-4 pt-5 mb-5" >
                  <h1 class="headline clr_primary mb-4 lh-1 " >
                    Nutrition begins with Iron
                  </h1>
                  <p class="subtext mb-2" >
                    <strong>Welcome Doctor!</strong> 
                  </p>
                  <p class="subtext mb-4 " >
                    One out of every two women in India suffer from iron deficiency. Lack of iron in nutrition is the primary cause of iron deficiency in women. Help your patients identify the risks and symptoms of iron deficiency through your own customized video and posters.
                  </p>
                  <div >
                    <a class="btn btn-lg btn-primary" routerLink="/terms-and-conditions" >Create Your Content</a> </div>
                </div>  
              </div>
             </div>
             <div class="banner_band" >
             
                <img class="brand_img" src="assets/images/initiative-by-livogen.png" alt="">
          
             </div>
            </div>
          </div>
          <!--
          <div class="col-sm-12 co-md-12 col-lg-7 d-flex align-items-center justify-content-center livogen_content_block_wrapp ">
            <div class="livogen_content_block d-flex align-items-center justify-content-center step_1">
              <div class="container g-0 text-center ">
                <div class="row">
                  <div class="col-sm-12 mb-4">
                    <h1 class="mb-0 display-4 main_heading ">Iron Completes Nutrition</h1>
                  </div>
                  <div class="col-sm-12 mb-4">
                    <h4 class="fs-3 clr_gray font-weight-bold">Welcome Doctor!</h4>
                    <p class="fs-4 clr_gray ms-auto me-auto" style="max-width: 600px;" >Customise your poster and video to spread awareness about Iron Deficiency during pregnancy.</p>
                  </div>
                  <div class="col-sm-12"> <a class="btn btn-lg btn-primary" routerLink="/terms-and-conditions" >Customise
                    Now</a> </div>
                </div>
              </div>
            </div>
          </div>-->
        </div>
      </div>
    </div>
  </main>
  