<main>
    <div class="section ">
      <div class="container-fluid g-0 h-100">
        <div class="row g-0 align-items-strech fitt_height">
          <div class="col-sm-12 co-md-12 col-lg-6  bg_white_gray d-flex align-items-center fitt_height" >
            <div class="lovogen_banner" >
              <div class="row d-block d-sm-none" >
                <div class="col" >
                  <div class="content pt-4 pb-3" >
                    <h1 class="headline clr_primary mb-3 lh-1 text-center" >
                      Iron Completes Nutrition
                    </h1>
                  </div>
                </div>
              </div>
             <div class="row" >
              <div class="col-5 col-md-6 col-lg-6 self-align-end d-flex align-items-end" >
       
                <img src="assets/images/livogen-dr.png" alt="" class="" >
           
              </div>
              <div class="col-7 col-md-6 col-lg-6" >
                <div class="content " >
                  <h1 class="headline clr_primary mb-3 lh-1 d-none d-sm-block" >
                    Iron <br>Completes <br>Nutrition
                  </h1>
                  <p class="subtext" >
                    <strong>The absence of Iron in daily nutrition can lead to health</strong> issues like weakness, fatigue, shortness of breath, and more.
                  </p>
                </div>  
              </div>
             </div>
             <div class="banner_band" >
             
                <img class="brand_img" src="assets/images/initiative-by-livogen.png" alt="">
          
             </div>
            </div>
          </div>
          <div class="col-sm-12 co-md-12 col-lg-6 d-flex align-items-center justify-content-center livogen_content_block_wrapp ">
            <div class="livogen_content_block d-flex justify-content-start">
              <div class="container g-0 text-start ">
                <div class="row">
                  <div class="col-sm-12 mb-3">
                    <div class="mb-0 display-6 main_heading ">Terms of Service</div>
                  </div>
                  <div class="col-sm-12 mb-4">
                    <h4 class="fs-4 clr_gray font-weight-bold mb-2 right_border ">Accepting the terms</h4>
                    <div class="tnc_paragraph_wrapp" >
                      <div class="tnc_paragraph text_justify" >
                        <p class="clr_gray">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum olor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore</p>
                        <p class="clr_gray">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum olor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore</p>
                        <h5 class="clr_gray" >Lorem ipsum dolor sit</h5>
                        <p class="clr_gray">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum olor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore</p>
                        <p class="clr_gray">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum olor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore</p>
                        <p class="clr_gray">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum olor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore</p>
                        <h5 class="clr_gray" >Lorem ipsum dolor sit</h5>
                        <p class="clr_gray">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum olor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore</p>
                        <p class="clr_gray">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum olor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore</p>
                        <p class="clr_gray">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum olor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore</p>
                        <h5 class="clr_gray" >Lorem ipsum dolor sit</h5>
                        <p class="clr_gray">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum olor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="row mb-3" >
                      <div class="col-sm-12" >
                        <div class="input_field ps-1">
                          <div class="form-check checkbox">
                            <input class="form-check-input" type="checkbox" value="" id="agreeToConditions" [(ngModel)]="agreeToConditions" checked > 
                            <label class="form-check-label " for="agreeToConditions"> <span class="clr_gray" >I agree to all conditions mentioned above</span> </label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row align-items-center" >
                      <div class="col-sm-12 col-md-12 col-lg-6 text-start" > 
                      
                          <ngx-recaptcha2 
                            [siteKey]="siteKey"
                            (reset)="handleReset()"
                            (expire)="handleExpire()"
                            (load)="handleLoad()"
                            (success)="handleSuccess($event)"
                            [useGlobalDomain]="false">
                          </ngx-recaptcha2>
                       
                      </div>
                      <div class="col-sm-12 col-md-12 col-lg-6 text-end" > <a class="btn btn-lg btn-primary " routerLink="/application" [ngClass]="{'disabled': !agreeToConditions}" >Proceed</a> </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  